<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Under Header -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="{{site.adsense-data-ad-client}}"
    data-ad-slot="{{site.adsense-data-ad-slot}}"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<!-- <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<!-- tenping ad -->
<!-- <tenping class="adsbytenping" style="width:100%;max-width:768px;margin:0px auto;display:block;" tenping-ad-display-type="1LawCE8FqKOhetXZhMopsQ%3d%3d" tenping-ad-client="1fOatP7hU1IVcRiOaclGuk4ALWPi5SfkNAig5ZaxEUDZOTsMyotbTRFnJwvTR8Bh"></tenping>
                    <script async src="//ads.tenping.kr/scripts/adsbytenping.min.js"></script>
<br/> -->
<!-- End tenping ad -->
<a href='https://teving.com/78cee8c' target='_blank'><img src='https://lh3.google.com/u/0/d/1kJec_CgOzsysX0Ei8V4BFc1XpHDKOAYg=w1058-h870-iv1' border='0'></a>
<a href='https://teving.com/25d2a71' target='_blank'><img src='https://lh3.google.com/u/0/d/1WDdH7mYwHzE0YZIepuV5bnkd5nhJzEkD=w1204-h870-iv1' border='0'></a>
<a href='https://teving.com/83ece28' target='_blank'><img src='https://lh3.google.com/u/0/d/12GrAOVvH5QhBjbfIrXVlquDlicYaHs8x=w1058-h870-iv1' border='0'></a>
