---
layout: default
disqus: false
archive: false
post_class: post-template
toc: true
toc_sticky: true
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Author Box -->
                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                        <span class="author-description">{{ author.description }}</span>
                    </div>
                </div>
                {% endif %}

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->

            <!-- <article class="post-article">
                <aside class="sidebar__right sticky" style="height: auto !important;">             
                {{ content }}
            </article> -->
            <!-- <div class="toc">
                <a href="#">&lt;맨 위로&gt;</a>
                <h3>Summary</h3>
                {% include toc.html html=content %}
            </div> -->
            <div class="article-post">
                <!-- Toc if any -->
                <!-- {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %} -->
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->
            
            <!-- tenping 대가성 문구 -->
            <img style="width:100%; box-shadow: 0 0 3px rgba(0,0,0,0.3); border-radius: 100px;" src="https://lh3.google.com/u/0/d/1NukinFiCL4Sp3OYX5e7l27zlT1G0WmyI=w2730-h1858-iv1">
            <!-- <img src='https://lh3.google.com/u/0/d/1NukinFiCL4Sp3OYX5e7l27zlT1G0WmyI=w2730-h1858-iv1'> -->

            <!-- tenping ad -->
            <tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 768px;" tenping-ad-client="1fOatP7hU1IVcRiOaclGuk4ALWPi5SfkNAig5ZaxEUDZOTsMyotbTRFnJwvTR8Bh" tenping-ad-display-type="67%2be3LHzHbblsB9oLrOpWQ%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>
            <!-- End tenping ad -->

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{site.url}}/{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{site.url}}/{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>

            <center>

              <div class="more-posts">
                <div class="more-category">
                  <!-- 하단의 더보기의 링크는 자신의 사이트에 맞게 수정 -->
                  <b>{{ page.categories }} 카테고리의 다른 글</b>
                  <!-- <a class="mt-1 mb-1" href="{{site.baseurl}}/categories#{{ category | url_escape | strip | replace: ' ', '-' }}" class="more-button">더보기</a> -->
                  <a href="/categories#" class="more-button">더보기</a>
                </div>
                <table>
                  <tbody>
                    <!-- if문 도는 횟수 체크하기 위해 변수 선언 -->
                    {% assign count = 0 %}
                    {% for post in site.posts %}
                      <!-- 전체 포스트의 카테고리가 현재 들어와 있는 페이지의 카테고리와 같은지 판단-->
                      {% if post.categories == page.categories %}
                        {% assign count = count | plus: 1 %}
                        <!-- 글의 목록을 최대 5개만 허용 -->
                        {% if count < 11 %}
                          <tr>
                            <!-- 각 포스트의 링크도 자신의 사이트에 맞게 수정 -->
                            <th class="more-posts-title">
                              <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            </th>
                            <td class="more-posts-date">{{ post.date | date: '%Y. %m. %d' }}</td>
                          </tr>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            
            </center>

            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin related posts
================================================== -->



<!-- End related posts
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}

<!-- toc_script -->
<script>
    function getTOCNodes(master) {
      var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
      var tocNodes = nodes.filter(function(elem) {
          return elem.tagName == "A";
      });
      return tocNodes;
    }
    function getHeaderNodes(master) {
      var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
      var headerNodes = nodes.filter(function(elem) {
          return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
      });
      return headerNodes;
    }
  
    var title = document.getElementsByClassName("post-title")[0];
    var titleY = window.pageYOffset + title.getBoundingClientRect().top;
    
    var article = document.getElementsByClassName("post-article")[0];
    var articleY = window.pageYOffset + article.getBoundingClientRect().top;
  
    var toc = document.getElementsByClassName("toc")[0];
  
    var headerNodes = getHeaderNodes(article);
    var tocNodes = getTOCNodes(toc);
  
    var before = undefined;
  
    document.addEventListener('scroll', function(e) {
      if (window.scrollY >= articleY-60) {
        toc.style.cssText = "position: fixed; top: 60px;";
      }
      else {
        toc.style.cssText = "";
      }
  
      var current = headerNodes.filter(function(header) {
        var headerY = window.pageYOffset + header.getBoundingClientRect().top;
        return window.scrollY >= headerY - 60;
      });
  
      if (current.length > 0) {
        current = current[current.length-1];
  
        var currentA = tocNodes.filter(function(tocNode) {
          return tocNode.innerHTML == current.innerHTML;
        })
        
        currentA = currentA[0];
        if (currentA) {
          if (before == undefined) before = currentA;
  
          if (before != currentA) {
            before.classList.remove("toc-active");
            before = currentA;
          }
  
          currentA.classList.add("toc-active");
        }
        else {
          if (before) 
            before.classList.remove("toc-active");
        }
      }
      else {
        if (before) 
            before.classList.remove("toc-active");
      }
  
    }, false);
  </script>